replicaCount: 1

nodeSelector: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 1
  cpuUtilizationPercentage: 80
  memoryUtilizationPercentage: 80

service:
  - name: service
    type: ClusterIP
    ports:
      - port: 3006
        targetPort: 3006
        protocol: TCP
        name: auth
      - port: 3003
        targetPort: 3003
        protocol: TCP
        name: admin
      - port: 3007
        targetPort: 3007
        protocol: TCP
        name: introspection

configmap:
  - files/config.yaml

secrets:
  - files/secret.yaml

containers:
  - name: server
    envFrom:
      - configMapRef:
          name: rafiki-auth
      - secretRef:
          name: rafiki-auth
    resources:
      requests:
        memory: 128Mi
        cpu: 200m
      limits:
        memory: 512Mi
        cpu: 400m
    ports:
      - name: auth
        containerPort: 3006
        protocol: TCP
      - name: admin
        containerPort: 3003
        protocol: TCP
      - name: introspection
        containerPort: 3007
        protocol: TCP

nodeEnv: development
logLevel: debug
postgresql:
  host: "postgresql.rafiki"
  port: "5432"
  username: "auth"
  database: "auth"
  password: "auth"  # override this value
identityServer:
  domain: "http://cloud-nine-wallet/idp"
  secret: "changeme"
interaction:
  incomingPayment: "false"
  quote: "false"
port:
  admin: 3003
  auth: 3006
  introspection: 3007
grant:
  waitSeconds: 5
accessToken:
  deletionDays: 30
  expirySeconds: 600
cookieKey: ''
workers:
  cleanup: 1
